<div class="container">
  <div #userPlaylist>
    <mat-card>
      <img mat-card-img src="{{playlist['images'][1]['url']}}" alt="Album Photo">
      <mat-card-header>
        <mat-card-title>{{playlist['name']}}</mat-card-title>
        <mat-card-subtitle>By {{userInfo['display_name']}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>

  <div #followedPlaylist>
    <div class="add-playlist">
      <button mat-raised-button class="add-button" (click)="openPlaylistSelection()">Add a Playlist to Compare</button>
    </div>
  </div>
</div>
